body { font-family: sans-serif; background: black; color: lightgrey }
a { color: lightblue }
a:visited { color: lightcoral; }
#articles { float: left; width: 80%; margin: 2.5%; }
#sidebar { float: right; width: 15%; margin-top: 1%; border: 2pt solid lightgrey; border-radius: 10pt; margin-right: 10pt; position: fixed; top: 5%; left: 83%}
#tags ul { list-style-type: none; padding: 0% }
#tags li.selected { list-style-type: square; }
#tags li { margin-bottom: 10pt }
#tags li .tag { background: darkviolet; padding: 2pt; border-radius: 5pt; margin: 10pt }
#language {text-align: center}
#sidebar .sidebarbox {border-bottom: 2pt solid lightgrey; padding-bottom: 5pt}
#sidebar .sidebarlast {border-bottom: none}
#sidebar .sidebarbox .title {text-align: center; font-weight: bold; margin-top: 10pt; padding: 2pt}
li .count:before { content: "[" }
li .count:after { content: "]"}
li .count { float: right; margin-right: 10pt; }
.article { border: 2pt solid lightgrey; border-radius: 10pt; padding: 10pt; margin-bottom: 15pt; }
.article .title { border-bottom: 2pt solid lightgrey; padding-bottom: 5pt; font-size: 18pt; font-weight: bold; color: lightsalmon }
.footer { border-top: 2pt solid lightgrey; padding-top: 5pt }
.footer .tags .tag { background: darkviolet; padding: 2pt; border-radius: 5pt; margin-right: 2pt }
.footer .tags:before {content: "Etiketler / Tags:"; }