@(articles: List[Article], params : URLParameters, pagination : Pagination)(implicit tags : List[Tag], languageList : (URLParameters => List[LanguageSelection]), lang: Lang)

@main(Messages("site.title")) {
<div id="sidebar">
  <div id="navigation" class="sidebarbox">
    <div class="content">
      @navbar(params, pagination)
    </div>
  </div>
  <div id="language" class="sidebarbox">
    <div class="title">@Messages("sidebar.language")</div>
    <div class="content">
      <ul>
	@for(ls <- languageList(params)){
		   <li class="language @if(ls.selected){selected}"><a href="@ls.href">@ls.name</a></li>
		   }
      </ul>
    </div>
  </div>
  <div id="tags" class="sidebarbox">
    <div class="title">@Messages("sidebar.tags")</div>
    <div class="content">
      @taglist(tags)
    </div>
  </div>
  <div id="feeds" class="sidebarbox sidebarlast">
    <div class="title"></div>
    <div class="content">
      <a href="@routes.Feed.feed(Atom, params.tags.toList, params.language, 0)">
	<img src="@routes.Assets.at("images/feed-icon-28x28.png")"/>
      </a>
    </div>
  </div>
</div>
<div id="articles">
  @for(a <- articles){
	    @article(a)
	    }
	    </div>

}
